.down {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: #1890ff;
  }
  .icon {
    margin-right: 5px;
  }
}

.select_cols_popup {
  min-width: 100px;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 6px 8px;
  .select_cols_item {
    padding: 4px;
    .label {
      width: 100%;
    }
  }
}
